{% extends 'base.html' %}

{% block title %}
    Vemba
{% endblock title %}

{% block seattype %}
    <select class="form-control" id="cb-hang-ghe" name="SeatType" style="width: 80%">
        {% for seat in seat_type %}
        <option>{{ seat.seat_class_name}}</option>
        {% endfor %}
    </select>
{% endblock seattype %}

{% block location_from %}
    <select class="form-control" id="cb-start" name="LocationFrom" style="width: 80%">
        {% for loca_f in location %}
        <option>{{ loca_f.location_name }}</option>
        {% endfor %}
    </select>
{% endblock location_from %}

{% block location_to %}
	<select class="form-control" id="cb-end" name="LocationTo" style="width: 80%">
		{% for loca_to in location %}
		<option>{{ loca_to.location_name }}</option>
		{% endfor %}
	</select>
{% endblock location_to %}

{% block adults %}
	<select class="form-control" id="cb-nguoi-lon" name="AdultNo" style="width: 50%">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
		<option>10</option>
	</select>
{% endblock adults %}

{% block childrent %}
	<select class="form-control" id="cb-tre-em" name="ChildrenNo" style="width: 50%">
		<option>0</option>
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
	</select>
{% endblock childrent %}

{% block baby %}
	<select class="form-control" id="cb-em-be" name="BabyNo" style="width: 50%">
		<option>0</option>
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
	</select>
{% endblock baby %}
